{% extends 'app/base.html'  %}
{% load static %}
{% block title %}
Index 
{% endblock %}
{% block content %}
<main>
    <div class="container-fluid px-4">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="mt-4">Dashboard</h1>
            <a href="{% url 'app:attendance_create'  %}" class="btn btn-outline-primary">Add Attendance</a>
        </div>
        
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        Monthly Chart
                    </div>
                    <div class="card-body">
                        <form id="filterForm">
                            <div class="row">
                                <div class="col-md-8">
                                    <label for="monthSelect">Select Month:</label>
                                    <select id="monthSelect" class="form-select">
                                        <option value="">--Select Month--</option>
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>
                               
                                <div class="col-md-4 d-flex align-items-end">
                                    <button type="button" id="filterButton" class="btn btn-primary">Apply Filter</button>
                                </div>
                            </div>
                        </form>
                        <canvas id="attendanceChart" width="100%" height="50%"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Weekly Chart
                    </div>
                    <div class="card-body">
                        <form id="weeklyfilterForm">
                            <div class="row px-4">
                                <div class="col-md-4">
                                    <label for="Startdate">Start Date:</label>
                                    <input type="date" id="Startdate" class="form-control">
                                </div>
                                <div class="col-md-4">
                                    <label for="enddate">End Date:</label>
                                    <input type="date" id="enddate" class="form-control">
                                </div>
                                <div class="col-md-4 d-flex align-items-end">
                                    <button type="button" id="WeeklyfilterButton" class="btn btn-primary">Apply Filter</button>
                                </div>
                            </div>
                        </form>
                        <div class="card-body"><canvas id="weeklyChart" width="100%" height="50"></canvas></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Attendance DataTable 
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Is Present</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Is Present</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for data in all_attendance %}
                        <tr>
                            <td>{{data.student.first_name}} {{data.student.last_name}}</td>
                            
                            <td>{{data.date}}</td>
                            <td>{{data.is_present}}</td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    function renderChart(url, chartId, chartType, label) {
        fetch(url)
            .then(response => response.json())
            .then(data => {
                const labels = data.map(item => item.date);
                const presentCounts = data.map(item => item.present_count);
                
                const ctx = document.getElementById(chartId).getContext('2d');
                new Chart(ctx, {
                    type: chartType,
                    data: {
                        labels: labels,
                        datasets: [{
                            label: label,
                            data: presentCounts,
                            backgroundColor: 'rgba(75, 192, 192, 0.5)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            });
    }

    function updateMonthlyChart() {
        const month = document.getElementById('monthSelect').value;
        const monthlyUrl = `/dashboard/api/attendance/report/?type=monthly&month=${month}`;
        renderChart(monthlyUrl, 'attendanceChart', 'line', 'Monthly Attendance');
    }

    function updateWeeklyChart() {
        const startDate = document.getElementById('Startdate').value;
        const endDate = document.getElementById('enddate').value;
        const weeklyUrl = `/dashboard/api/attendance/report/?type=weekly&start_date=${startDate}&end_date=${endDate}`;
        renderChart(weeklyUrl, 'weeklyChart', 'bar', 'Weekly Attendance');
    }

    document.getElementById('filterButton').addEventListener('click', updateMonthlyChart);
    document.getElementById('WeeklyfilterButton').addEventListener('click', updateWeeklyChart);

    renderChart('/dashboard/api/attendance/report/?type=monthly', 'attendanceChart', 'line', 'Monthly Attendance');
    renderChart('/dashboard/api/attendance/report/?type=weekly', 'weeklyChart', 'bar', 'Weekly Attendance');
</script>

{% endblock %}